{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}This is an example page{% endblock %}

{% block navbar %}
    <ul class="nav nav-list">
      <li class="active">
        <a href="#">首页</a>
      </li>
      <li><a href="#">111</a></li>
      <li class="disabled"><a href="#">首页</a></li>
    </ul>
{% endblock %}

{% block content %}
<h1 class="page-header">友人？, {% if name %}{{ name }}{% else %}非友人{% endif %}!</h1>
  {{ wtf.quick_form(form) }}
{% endblock %}